/*-- scss:defaults --*/
$hhs-color-green:      #9EA700;
$hhs-color-blue:       #00B2CD;
$metrics-color-red:    #C8133B;
$metrics-color-green:  #287233;
$metrics-color-blue:   #5FA2CE;
$metrics-color-yellow: #FFD966;
$metrics-color-orange: #FFA500;

/*-- scss:rules --*/
.navbar {
  background-color: $hhs-color-blue;
  border: none;
}

.navbar-title {
  color: white;
  font-family: GT Walsheim, Aktiv Grotesk, sans-serif;
}

h1 {
  color: $hhs-color-green;
  font-family: GT Walsheim, Aktiv Grotesk,sans-serif;
}

h2#toc-title, .quarto-other-links h2 {
  color: $hhs-color-green;
  font-family: GT Walsheim, Aktiv Grotesk, sans-serif;
}

h2, h3, h4, h5, h6 {
  font-family: GT Walsheim, Aktiv Grotesk, sans-serif;
}

#quarto-margin-sidebar {
  background-image: url("01. Includes/img/HHS_NL_grijs_HEX-lowres.png");
  background-size: 150px;
  background-repeat: no-repeat;
  background-origin: content-box;
  margin: 10px 0 0 0;
}

#TOC {
  margin: 50px 0 0 0;
}

.metrics-red {
  color: $metrics-color-red;
}

.metrics-green {
  color: $metrics-color-green;
}

.metrics-blue {
  color: $metrics-color-blue;
}

.metrics-orange {
  color: $metrics-color-orange;
}

.example {
  color: $hhs-color-blue;
}

.breadcrumb {
  background-color: white;
  border: none;
  padding: 0 0 10px 0;
}

div.sidebar-item-container .active {
    color: $hhs-color-blue;
}
