/*-- scss:defaults --*/
$hhs-color-green: #9EA700;
$hhs-color-blue: #00B2CD;

/*-- scss:rules --*/
h1 {
  color: $hhs-color-green;
}

h2#toc-title, .quarto-other-links h2 {
  color: $hhs-color-green;
}

#quarto-margin-sidebar {
  background-image: url("01. Includes/img/HHS_NL_grijs_HEX-lowres.png");
  background-size: 150px;
  background-repeat: no-repeat;
  background-origin: content-box;
  margin: 10px 0 0 0;
}

#TOC {
  margin: 50px 0 0 0;
}
