/* colors and fonts are defined in _brand.yml */

/*-- scss:rules --*/
.navbar {
  background-color: $brand-hhs-color-blue;
  border: none;
}

.navbar-title {
  color: white;
}

h1 {
  color: $brand-hhs-color-green;
}

h2#toc-title, .quarto-other-links h2 {
  color: $brand-hhs-color-green;
 }

#quarto-margin-sidebar {
  background-image: url("R/images/hhs-nl-grijs-hex-lowres.png");
  background-size: 150px;
  background-repeat: no-repeat;
  background-origin: content-box;
  margin: 10px 0 0 0;
}

#TOC {
  margin: 50px 0 0 0;
}

.metrics-red {
  color: $brand-metrics-color-red;
}

.metrics-green {
  color: $brand-metrics-color-green;
}

.metrics-blue {
  color: $brand-metrics-color-blue;
}

.metrics-orange {
  color: $brand-metrics-color-orange;
}

.example {
  color: $brand-hhs-color-blue;
}

.breadcrumb {
  background-color: white;
  border: none;
  padding: 0 0 10px 0;
}

div.sidebar-item-container .active {
    color: $brand-hhs-color-blue;
}
